<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ILG.Codex.Codex2011.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ILG.Codex.Codex2011.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ILG.Codex.Codex2011.Properties.Settings>
            <setting name="BugTraqMail" serializeAs="String">
                <value>BUDS2@Codexserver.net</value>
            </setting>
            <setting name="WebAddress" serializeAs="String">
                <value>www.codexserver.com</value>
            </setting>
            <setting name="SupportAddress" serializeAs="String">
                <value>support@codexserver.com</value>
            </setting>
            <setting name="WhenCrash" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaTheme" serializeAs="String">
                <value>0</value>
            </setting>
        </ILG.Codex.Codex2011.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ILG.Codex.Codex2011.Properties.Settings>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLAuthMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>...your password...</value>
            </setting>
            <setting name="SQLPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TemporaryDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CodexDocumentDir" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyboardLayout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CodexFavoritesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IsConnectionString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodexCurrentDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DockSettingsPath" serializeAs="String">
                <value />
            </setting>
        </ILG.Codex.Codex2011.Properties.Settings>
    </userSettings>
</configuration>