<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Component Id="RegistryValueClinet" Guid="{913519C6-099D-439D-B3EE-2E101157297F}" KeyPath="yes" Directory="INSTALLDIR" >

      <RegistryValue Id="Registry2" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Client" Name="VersionMajor" Value="7" Type="integer" />
      <RegistryValue Id="Registry3" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Client" Name="VersionMinor" Value="2017" Type="integer" />
      <RegistryValue Id="Registry4" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Client" Name="Version" Value="7.2017.2017.8500" Type="string" />

    </Component>

  </Fragment>
</Wix>